DEFAULT claudeos
PROMPT 0
TIMEOUT 50
ONTIMEOUT claudeos

UI vesamenu.c32
MENU TITLE Claude OS — Boot Menu
MENU BACKGROUND /boot/isolinux/splash.png
MENU COLOR title    1;34;49  #FFFFFFFF  #00000000  std
MENU COLOR border   30;44    #40FFFFFF  #A0000000  std
MENU COLOR header   30;44    #C0FFFFFF  #A0000000  std
MENU COLOR sel      7;37;40  #E0FFFFFF  #20208080  std
MENU COLOR unsel    37;44    #90FFFFFF  #A0000000  std
MENU COLOR tabmsg   31;40    #FF404040  #00000000  std
MENU COLOR cmdmark  0;32;40  #20FFFFFF  #A0000000  std
MENU COLOR cmdline  37;40    #FFFFFFFF  #A0000000  std
MENU COLOR pwdborder 30;47   #80FFFFFF  #20FFFFFF  std
MENU COLOR pwdheader 31;47   #80FF8080  #20FFFFFF  std
MENU COLOR pwdentry 30;47    #80FFFFFF  #20FFFFFF  std
MENU COLOR timeout_msg 37;40 #80FFFFFF  #00000000  std
MENU COLOR timeout  1;37;40  #C0FFFFFF  #00000000  std
MENU COLOR help     37;40    #C0FFFFFF  #A0000000  std
MENU COLOR msg07    37;40    #90FFFFFF  #A0000000  std

LABEL claudeos
    MENU LABEL ^Claude OS (live)
    KERNEL /boot/vmlinuz-claudeos
    APPEND initrd=/boot/initrd.img-claudeos boot=live components quiet splash CLAUDE_OS=1

LABEL claudeos-toram
    MENU LABEL Claude OS (live, ^load to RAM)
    KERNEL /boot/vmlinuz-claudeos
    APPEND initrd=/boot/initrd.img-claudeos boot=live components quiet splash toram CLAUDE_OS=1

LABEL install
    MENU LABEL ^Install Claude OS to disk
    KERNEL /boot/vmlinuz-claudeos
    APPEND initrd=/boot/initrd.img-claudeos boot=live components quiet splash CLAUDE_OS=1 CLAUDE_INSTALL=1

LABEL memtest
    MENU LABEL ^Memory Test
    KERNEL /boot/memtest86+.bin
